<br>
<br>
<br>
<br>
<br>
<br>
<h1> Your shit is here </h1>
<%= image_tag @listing.image.url(:medium) %>
<br>
<%= @listing.title %>
<br>
<%= @listing.artist %>
<br>
<%= @listing.description %>
<br>
<%= @listing.price %>
<br>
